/* 存放所有變數 */

// 顏色變數
$primary-red: #D70D18;
$dark-red: #AC0108;
$white: #ffffff;
$gray-light: #EDEDED;
$gray-medium: #d9d9d9;
$gray-dark: #888888;
$black: #000000;

// 字體
$font-family-base: 'Microsoft JhengHei', 'Helvetica Neue', Arial, sans-serif;

// 響應式斷點
$mobile: 768px;
$tablet: 1024px;
$desktop: 1200px;
