.password-memo {
    p {
        flex: 1;
        display: block;
        font-size: 10px;
        line-height: 1.4;
    }

    @media(max-width: $mobile) {
        gap: 0;

        p {
            font-size: 14px;
        }
    }
}

.form-group {
    position: relative;

    .password-toggle {
        position: absolute;
        right: 12px;
        top: 25px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;

        &::after {
            content: '';
            width: 20px;
            height: 20px;
            background-image: url('../img/Button_Hide.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transition: opacity 0.3s ease;
        }

        // 顯示密碼狀態
        &.show-password::after {
            background-image: url('../img/Button_Show.svg');
        }

        @media (max-width: $mobile) {
            top: 28px;
            width: 29px;
            height: 29px;

            &::after {
                width: 25px;
                height: 25px;
            }
        }
    }
}

.button-group {
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .loading-icon {
            width: 16px;
            height: 16px;
        }
    }
}