.id-card-upload {
    .example-images {
        width: 100%;
        height: 100px;
        background-image: url('../img/IdCardErr_1.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width: $mobile) {
            height: 250px;
            background-image: url('../img/mobil_IdCardErr_1.png');

        }
    }

    .upload-section {
        .upload-row {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            gap: 20px;

            input[type="file"] {
                width: 300px;
                height: 170px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                transition: all 0.3s ease;

                // 隱藏原生 input file 的外觀
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                border: none;
                outline: none;

                // 隱藏檔案名稱文字
                color: transparent;

                // 隱藏 "選擇檔案" 按鈕
                &::-webkit-file-upload-button {
                    display: none;
                }

                &::-moz-file-upload-button {
                    display: none;
                }

                // 當有預覽圖時的狀態 (由 JS 加入 class)
                &.has-preview {
                    border-radius: 10px; // 加點圓角比較好看
                    border: 2px solid #EDEDED; // 選填：加上細邊框
                    box-sizing: border-box;
                    border-style: dashed;
                }
            }

            .upload-area {
                width: 300px;
                height: 190px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                transition: all 0.3s ease;
                                // 上傳進度狀態
/*                 &.uploading::after {
                    content: '';
                    position: absolute;
                    bottom: 20%;
                    left: 50%;
                    width: 50%;
                    height: 10px;
                    transform: translate(-50%, -50%);
                    background-image: url('../img/loading.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                } */

            }

            .upload-area_1 {
                &:not(.has-preview) {
                    background-image: url('../img/Upload_ID_1.png');
                    &:hover {
                        background-image: url('../img/Upload_ID_1_hover.png');
                    }
                }
            }

            .upload-area_2 {
                &:not(.has-preview) {
                    background-image: url('../img/Upload_ID_2.png');
                    &:hover {
                        background-image: url('../img/Upload_ID_2_hover.png');
                    }
                }
            }

            @media(max-width: $mobile) {
                flex-direction: column;
                align-items: center;
                .upload-area {
                    &.uploading::after {
                        bottom: 15%;
                    }
                }
            }
        }
    }
}