.id-card-upload {
    .example-images {
        width: 100%;
        height: 100px;
        background-image: url('../img/IdCardErr_1.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width: $mobile) {
            height: 250px;
            background-image: url('../img/mobil_IdCardErr_1.png');

        }
    }

    .upload-section {
        .upload-row {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            gap: 20px;

            .upload-area {
                width: 300px;
                height: 190px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                transition: all 0.3s ease;

            }

            .upload-area_1 {
                background-image: url('../img/Upload_ID_1.png');

                &:hover {
                    background-image: url('../img/Upload_ID_1_hover.png');
                }
            }

            .upload-area_2 {
                background-image: url('../img/Upload_ID_2.png');

                &:hover {
                    background-image: url('../img/Upload_ID_2_hover.png');
                }
            }

            @media( max-width: $mobile) {
                flex-direction: column;
                align-items: center;

            }
        }
    }
}