//驗證失敗提示
.verification-fail-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    .fail-illustration{
        img{
            width: 150px;
        }
    }
    .error-message{
        p{
            font-size: 16px;
            margin-top: 5px;
        }
    }
}